@value main from 'style/colors';
@value secondary_font from 'style/fonts';

.mediaLink {
    height: 195px;
    width: 250px;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(38,38,44,0.24);
    text-align: center;
    transition: box-shadow 0.4s ease;

    & picture {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 75px;
 
        & img {
            opacity: 0.65;
        }
    }

    & p {
        text-align: left;
        margin: 0 auto;
        width: 210px;
        color: main;
        font-family: secondary_font;
        font-size: 16px;
        letter-spacing: -0.09px;
        line-height: 26px;
    }

    &:hover {
        box-shadow: 0 4px 8px 4px rgba(38,38,44,0.24);
    }
}
