@value desktop, tablet, mobile from 'style/breakpoints';

.pageSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.contentContainer {
    position: relative;
    z-index: 2;
    max-width: 1400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;

    &.nopadding {
        padding: 0;
    }

    @media mobile {
        padding: 0 16px;
        max-width: 450px;
    }

    @media tablet {
        max-width: 768px;
    }
}
